<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Rerovaji - Registro </title>
   <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="/static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Registro</div>
      <div class="card-body">
        <form role="form" method="post">
          {{form.hidden_tag()}}
          <div class="form-group">
            <label for="exampleInputName">Nombre</label>
                {{ form.nombre(class="form-control",type="text",placeholder="Introduzca su nombre")}}
                
              </div>
              
          
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            {{ form.email(type="email", class="form-control",placeholder="Introduzca su email")}}
          </div>

          <div class="form-group">
              <label for="exampleInputPassword1">Contraseña</label>
                {{ form.password(size=80, class="form-control",placeholder="Contraseña")}}
              </div>             
            
          <button type="submit" class="btn btn-primary btn-block" href="login.html">Registro</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="login.html">Login</a>
          
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
 <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <!-- Core plugin JavaScript-->
 <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
 <!-- Page level plugin JavaScript-->
</body>

</html>
