{% from "./macros/menus.html" import menu_admin,menu_encargado,menu_empleado %}

{% macro barra(menu,admin) %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{url_for('main')}}">Rerovaji S.L.</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{{url_for('main')}}">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Inicio</span>
          </a>
        </li>
        
          {{menu}}


      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
      	{% if admin==True %}
	        <li class="nav-item ">
	           <a class="nav-link" data-toggle="modal" data-target="#local" href="#">
	              <i class="fa fa-fw fa-map-marker"></i>
	              <span class="nav-link-text">Local:&nbsp;<span style="color:red;">({{session['local']|localName}})</span></span>
	            </a>         
	        </li>
      	{% endif %}
       
        
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#logout">
            {{session["user"]}}<i class="fa fa-fw fa-sign-out"></i></a>
        </li>
      </ul>
    </div>
  </nav>

{% endmacro %}

{% macro barra_admin() %}
	{% set menu=menu_admin()%}
	{{barra(menu,True)}}
{% endmacro %}

{% macro barra_encargado() %}
	{% set menu=menu_encargado()%}
	{{barra(menu,False)}}
{% endmacro %}


{% macro barra_trabajador() %}
	{% set menu=menu_empleado()%}
	{{barra(menu,False)}}
{% endmacro %}

